<h1>Justicia Abierta</h1>
<h2>Formato</h2>
<br>
<label for="motivo">Motivo:</label><br>
<select id="motivo" name="motivo"><br>
  <option value="Denuncia">Denuncia</option>
  <option value="Consulta">Consulta</option>
  <option value="Sugerencia">Sugerencia</option>
  <option value="Felicitacion">Felicitacion</option>
</select>
<br>
<label for="nombre">Nombre:</label><br>
<input type="text" id="nombre" name="nombre"><br>
<label for="apellido">Apellido:</label><br>
<input type="text" id="apellido" name="apellido"><br>
<label for="comentario">Comentario:</label><br>
<input type="text" id="comentario" name="comentario"><br>
<button type="button" onclick="alert('Mensaje Enviado')">Enviar a la CSJ</button>
